<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
    <!-- vue library file -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- custom -->
    <link rel="stylesheet" href="style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="about-us">
            
        <!-- {{ runme() }} -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto bg-dark" >
                    <div class="bg-warning py-3 col-md-6 float-left" >
                        <h3>Key modoifiers => Enter,alt,ctrl,keycode,delete,space</h3>
                        <form action="#">
                            <div class="form-group">
                                <input type="text" v-model="firstName" placeholder="Name here....." class="form-control">{{ firstName }}
                            </div>
                            <div class="form-group">
                                <input type="text" v-model="lastName" placeholder="Last name here....." class="form-control">{{ lastName }}
                            </div>
                            <p>{{ getFullName }}</p>
                            <!-- convert length into centimeter -->
                            <h5>Convert Length into centimeter</h5>
                            <input type="text" v-model="meter" placeholder="Enter length in meter">
                            <p><h4>Lenth in Centimeter: {{ convertCentimeter }}</h4></p>
                        </form>
                    </div>
                    <div class="bg-primary col-md-6 text-light float-right">
                        <h3>Dynamic CSS CLASSES</h3>
                        <button type="button" :class="{toggleClass:isActive}" v-on:click="isActive = !isActive">Toggle Class</button>
                        <div class="bg-light">
                            <p v-show="isActive">This is show condition</p>
                            <button type="button" v-on:click="conditon">Check Condition</button>
                            <h4>Condition in Vue</h4>
                            <p v-if="count == 1">This is first condition</p>
                            <p v-else-if="count == 2">This is second condition</p>
                            <p v-else-if="count == 3">This is third condition</p>
                            <p v-else-if="count ==1">This is fourth condition</p>
                            <p v-else>No value</p>
                        </div>
                        <!-- for loop condition -->
                        <div>
                            <h3>For loop condition</h3>
                            <div>
                                <ul>
                                    <li v-for="ankit in students">{{ ankit }}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Study about components -->
                        <div>
                            <h3>Study about components</h3>
                        </div>
                        <vuetest></vuetest>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="ref">
        <div class="row">
            <!-- Concept of references -->
            <div class="col-md-6 float-left">
                Name : <input type="text" placeholder="Name" ref="txtname" class="form-control">
                Email : <input type="text" placeholder="Email" ref="txtmail" class="form-control">
                <button type="button" @click="btnSubmit">Submit</button>
            </div>
            <!-- Concept of custom directive -->
            <div class="col-md-6 float-left">
                <button type="button" v-custom-directive:channel.c="message">Custom Directive click me</button>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
    
</body>
</html>