<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Js</title>
    <!-- vue library file -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- custom -->
    <link rel="stylesheet" href="style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="my-app">
        <a :href="aboutUs" class="btn btn-link">About us</a>
        <!-- <img v-bind:src="ImageSrc" alt="" class="thumbnail">
        <a v-bind:href="PlaylistLink" v-bind:title="title" class="btn btn-success">{{ Name }}</a> -->
    </div>
    <div class="container" id="form" >
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card ">
                    <div class="card-header">
                        <h3>Form</h3>
                    </div>
                    <form action="post">
                        <div class="card-body" >
                       
                            <div class="form-group">
                                <input type="text" class="form-control" readonly v-bind:value="name" placeholder="Enter your name" >
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your email" readonly v-bind:value="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Enter your password" readonly v-bind:value="password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p><h4>Event task</h4></p>
        <h3>Counter: {{count}} </h3>
        <h3>Onclick event</h3>
        <button type="button" v-on:click="increment(1)" class="btn btn-sm btn-success">Increase button</button>
        <button type="button" v-on:click="decrement(1)"class="btn btn-sm btn-danger">Decrease button</button>
        <h3>double click event</h3>
        <button type="button" v-on:dblclick="increment(5)" class="btn btn-sm btn-success">Increase button</button>
        <button type="button" v-on:dblclick="decrement(5)"class="btn btn-sm btn-danger">Decrease button</button>
        <h3>Mouse Event</h3>
        <div class="move-area thumbnail" @mousemove="mouseMoveFunction">
            <span>{{height}}
            {{width}}</span>
        </div>
        <button type="button" class="btn btn-sm btn-light" @mouseover="mouseoverFunction">Mouse Over</button>
        <button type="button" class="btn btn-sm btn-light" @mouseout="mouseoutFunction">Decrease button</button>
        <h3>Keyboard Event</h3>
        <div>
            <input type="text" @keypress="keyPressFunction" placeholder="Key press........." class="form-control"><br>
            <input type="text" @keyup="keyUpFunction" placeholder="Key up function........." class="form-control"><br>
            <input type="text" @keydown="keyDownFunction" placeholder="Key down function........." class="form-control"><br>
        </div>
        <h3>Event modifier</h3>
        <button type="button" v-on:click.once="increment(5)" class="btn btn-sm btn-success">Increase button one time</button><br>
        <form action="#" method="post" @submit.prevent>
            <br>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>
    <script src="app.js"></script>
</body>
</html>
